backend/.venv/
backend/reef.db
backend/data/
backend/alembic.ini
backend/alembic.egg-info/
backend/alembic.egg-info/
backend/.env
frontend/.env
backend/coral_incident_agent_backend.egg-info/
frontend/node_modules/
frontend/dist/
frontend/dist-ssr/
frontend/*.local
frontend/.vscode/
frontend/.idea/
frontend/.DS_Store/
frontend/*.suo
frontend/*.ntvs
frontend/*.njsproj
frontend/*.sln
frontend/*.sw?

__pycache__/
.env.production
cf55b0407eca8330ff2ecf065bc44b7d6bcf514cbc948f2687f18bb321b1b2f9