backend/.venv/
backend/reef.db
backend/alembic.ini
backend/alembic.egg-info/
backend/alembic.egg-info/
backend/.env
backend/coral_incident_agent_backend.egg-info/
frontend/node_modules/
frontend/dist/
frontend/dist-ssr/
frontend/*.local
frontend/.vscode/
frontend/.idea/
frontend/.DS_Store/
frontend/*.suo
frontend/*.ntvs
frontend/*.njsproj
frontend/*.sln
frontend/*.sw?

__pycache__/